/* Google font  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}


/*---------- 
first-part CSS 
---------- */
.first-rectangle {
    background-color: black;
    width: 1321px;
    height: 646px;
    margin: 50px 140px 130px 110px;
    border-radius: 40px;
    background-image: url(assets/image-1.png);
    background-size: 581px, 613px;
    background-repeat: no-repeat;
    background-position: top right;
}

.first-rectangle:hover img {
    transform: translate(-900px, 300px) rotate(180deg);
}

.first-rectangle img {
    width: 100px;
    position: relative;
    top: -330px;
    left: 1100px;
    transition: 2s ease-in-out;
}

h2 {
    font-size: 70px;
    font-weight: 700;
}

.first-part {
    display: flex;
    flex-direction: column;
    width: 531px;
    height: 424px;
    align-items: center;
    justify-items: center;
    color: white;
    padding-left: 106px;
}

.button-style {
    background-color: #DD0000;
    border-radius: 15px;
    color: white;
    padding: 16px 25px;
}

button:hover {
    opacity: 40%;
}

/*-------------------
 second part style  
--------------------*/
.second-part {
    display: grid;
    grid-template-columns: 1fr 3fr;
    margin-bottom: 130px;
}

.black-box {
    width: 312px;
    height: 312px;
    background-color: black;
    padding-top: 5px;
    text-align: center;
    border-radius: 10px;

}

.black-box a {
    text-decoration: none;
}

.box-element {
    width: 252px;
    height: 64px;
    background-color: white;
    margin: 30px;
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #161616;
}

#upcoming-match {
    background-color: #DD0000;
    color: white;
}

.match-box {
    display: flex;
    justify-items: center;
}


.content {
    display: flex;
    flex-direction: column;
    margin: 5px;
    margin-bottom: 10px;
    /* box-shadow: 2px 2px 5px gray; */
    border-radius: 10px;
    /* border: .5px solid #E8E8E8; */
    border: 2px dotted gainsboro;
    align-items: center;

}

.vs {
    padding: 0 10px;
}

.content button {
    margin-left: 15px;
    /* background-color: white; */
}


.content-box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

#tablet-button {
    visibility: hidden;
}

/*-------
 footer part 
 --------- */

footer {
    width: 1510px;
    height: 444px;
    background-color: #161616;
}

footer h1 {
    text-align: center;
    color: white;
    padding-top: 90px;

}

hr {
    width: 1320px;
    height: 0px;
    margin: 0 100px;
    margin-bottom: 50px;
    margin-top: 40px;
}

.last-line {
    display: flex;
    justify-content: space-evenly;

}

/* -----------
social links
-------------- */

.last-line-element {
    color: #B9B9B9;
}

.fa-brands {
    color: white;
    font-size: 60px;
    padding: 10px 0;
    padding-top: 40px;
}

.social {
    display: flex;
    justify-content: space-evenly;
}


/* ----------
media queries
-------------  */

/* smartphone */
@media only screen and (max-width:688px) {

    .first-rectangle,
    .first-part,
    .first-title,
    .first-brief,
    .button-style {
        width: 100%;
        height: auto;
        color: white;
        font-size: 16px;
        margin: 10px 5px;
        padding: 30px 0 0 0;

    }

    .first-title {
        font-size: 25px;
    }

    .button-style {
        padding: 0;
    }

    .first-rectangle {
        background-size: 300px;
        background-position: top right;
    }

    .first-rectangle img {
        width: 15%;
        position: relative;
        top: -400px;
        left: 210px;
        transition: 2s ease-in-out;
    }

    .first-rectangle:hover img {
        transform: translate(-190px, 40px) rotate(180deg);
    }

    .second-part {
        display: grid;
        grid-template-columns: repeat(1, 1fr);

    }



    .content-box {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    footer {
        width: 100%;

    }

    hr {
        width: 50%;
        margin: 0;
        padding: 0;
        margin-left: 100px;


    }

    footer .last-line {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
    }


}

/* Tablet */
/* @media only screen and (min-width: 688px) and (max-width:992px) */

@media only screen and (min-width: 688px) and (max-width:992px) {



    .first-rectangle,
    .first-part,
    .first-title,
    .first-brief,
    .button-style {
        width: 100%;
        height: auto;
        color: white;
        font-size: 16px;
        margin: 10px 5px;
        padding: 30px 0 0 0;

    }

    .black-box {
        width: 100%;
        height: auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        background-color: whitesmoke;

    }

    .box-element {
        width: 100%;
        margin-left: 0;
    }

    .first-title {
        font-size: 25px;
    }

    .button-style {
        padding: 0;
    }

    .first-rectangle {
        position: relative;
        background-size: 300px;
        background-position: top right;
    }

    .first-rectangle img {
        width: 10%;
        position: relative;
        top: -330px;
        left: 620px;
        transition: 1s ease-in-out;
    }

    .first-rectangle:hover img {
        transform: translate(-190px, 40px) rotate(180deg);
    }

    .second-part {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }


    .content-box {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

    }

    footer {
        width: 100%;

    }

    hr {
        width: 50%;
        margin: 0;
        padding: 0;
        position: relative;
        left: 25%;
        margin-bottom: 30px;
    }

    footer .last-line {
        display: flex;
        justify-content: space-evenly;
    }

}